



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #ffffff;}
input:-moz-placeholder { color: #ffffff;}
input::-moz-placeholder { color: #ffffff;}
input:-ms-input-placeholder { color: #ffffff;}

textarea::-webkit-input-placeholder { color: #ffffff;}
textarea:-moz-placeholder { color: #ffffff;}
textarea::-moz-placeholder { color: #ffffff;}
textarea:-ms-input-placeholder { color: #ffffff;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.65);
}

.wrap-upload100 {
  width: 390px;
  border-radius: 10px;
  overflow: hidden;

  background: transparent;
}

.shared-files-container {
  display: none; /* Hide the container by default */
}

.expand {
  display: block; /* Show the container when expanded */
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.608);
}

.login100-form-logo {
  font-size: 60px; 
  color: #ffffff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: Ubuntu-Bold;
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ffffff;
  padding: 29px 0;
}

.input100 {
  font-family: Ubuntu-Regular;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.2;

  display: block;
  width: calc(100% - 40px);
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #003366;
  background: -webkit-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -o-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -moz-linear-gradient(left, #001f3f, #003366, #005b96);
  background: linear-gradient(left, #001f3f, #003366, #005b96);
}

.focus-input100::after {
  font-family: Linearicons-Free;
  font-size: 18px;
  color: #ffffff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 35px;
 

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 60px;
}

.input100:focus + .focus-input100::after {
  left: 23px;
  color: #ffffff;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  left: 23px;
  color: #ffffff;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 60px;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  border-radius: 21px;

  background: -webkit-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -o-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -moz-linear-gradient(left, #001f3f, #003366, #005b96);
  background: linear-gradient(left, #001f3f, #003366, #005b96);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: transparent;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

.login100-container{
  width: 400px;
  position: relative;
}
.login100-container input[type="password"],
.login100-container input[type="text"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 45%;
  right: 8%;
  cursor: pointer;
  color: lightgray;
}

/*------------------------------------------------------------------
[ Button ]*/
/* Add styles for the container of the "Forgot Password" button */
.container-forgot100-form-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center; /* Center vertically */
  padding-top: 0px; /* Adjust the padding for spacing */
}

.forgot100-form-btn {
  font-family: Ubuntu-Bold;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;

  padding: 5px 15px; /* Add padding for spacing */
  border-radius: 5px;

  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  margin-left: 10px; /* Adjust the margin to move the text to the right */
}

.forgot100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  color: #fff;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.forgot100-form-btn:hover {
  background-color: transparent;
  color: #fff;
}

.forgot100-form-btn:hover:before {
  opacity: 1;
  color: #fff;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-signup100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signup100-form-btn {
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-width: 160px;
  height: 30px;
  border-radius: 10px;

  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.underline-text {
  text-decoration: underline; /* Add this line to underline the text */
}

.signup100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  color: #fff;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.signup100-form-btn:hover {
  background-color: transparent;
  color: #fff;
}

.signup100-form-btn:hover::before {
  opacity: 1;
  color: #fff;
}

/* Add styles for the container of the "Forgot Password" button */
.container-forgot-password {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: flex-start; /* Align to the top */
  padding-top: 10px; /* Add some top padding for spacing */
}

.show-password-btn {
  font-family: Ubuntu-Bold;
  font-size: 14px; /* Reduced font size to 16px */
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline; /* Added underline */

  padding: 10px 20px; /* Add padding for spacing */
  border-radius: 5px;
  margin-top: 10px;

  position: relative;
  z-index: 1;

  transition: all 0.4s;
}

.show-password-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  color: #fff;
  opacity: 0;

  transition: all 0.4s;
}

.show-password-btn:hover {
  background-color: transparent;
  color: #fff;
}

.show-password-btn:hover:before {
  opacity: 1;
  color: #fff;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;

  font-family: Ubuntu-Bold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}/* Add your custom styles for the upload form here */
.upload-container {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.608);
  border-radius: 10px;
  color: white;
}

.upload-form .form-group label {
  font-size: 18px; /* Increase font size */
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  color: white;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
select {
  width: 100%;
  padding: 10px;
  font-size: 20px;

  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-btn {
  width: 100%; /* Set the width to 100% to take up the full width of its container */
  padding: 10px;
  font-size: 20px;
  background: #003366;
  background: -webkit-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -o-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -moz-linear-gradient(left, #001f3f, #003366, #005b96);
  background: linear-gradient(left, #001f3f, #003366, #005b96);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn:hover {
  background: #002245;
  background: -webkit-linear-gradient(left, #001326, #002243, #004777);
  background: -o-linear-gradient(left, #001326, #002243, #004777);
  background: -moz-linear-gradient(left, #001326, #002243, #004777);
  background: linear-gradient(left, #001326, #002243, #004777);}

.file-upload input[type="file"] {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload label {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background: #003366;
  background: -webkit-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -o-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -moz-linear-gradient(left, #001f3f, #003366, #005b96);
  background: linear-gradient(left, #001f3f, #003366, #005b96);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  color: #fff; /* Match button text color */
  border-radius: 5px;
  cursor: pointer;
}

.file-upload label:hover {

  background: #002245;
  background: -webkit-linear-gradient(left, #001326, #002243, #004777);
  background: -o-linear-gradient(left, #001326, #002243, #004777);
  background: -moz-linear-gradient(left, #001326, #002243, #004777);
  background: linear-gradient(left, #001326, #002243, #004777);
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.upload100-form-title
{
  font-family: Ubuntu-Bold;
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  
  display: block;
}
/* Adjust the layout of radio buttons */
input[type="radio"] {
  display: inline-block;
  margin-right: 5px; /* Adjust the margin between radio buttons */
}

/* Adjust the layout of radio button labels */
label[for="private"], label[for="public"] {
  display: inline-block;
  margin-right: 15px; /* Adjust the margin between radio buttons and labels */
}

/* Style the uploaded file container */
#uploadedFile {
  margin-top: 10px;
  font-family: Ubuntu-Regular;
  font-size: 14px;
  color: #ffffff;
}

#fileUpload {
  /* Increase width and height as needed */
  width: 300px;
  height: 100px;
  /* Additional styling */
  font-size: 18px; /* Increase font size for better visibility */
  padding: 30px; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect overall size */
  margin-bottom: 30px; /* Add margin bottom to move the box up */

}

.search-container {
  margin-bottom: 20px;
  
}

.search-container button {
  margin-left: 10px; /* Add margin to separate the search bar and button */
}

#searchBar {
  width: 300px;
  padding: 10px;
  color: black;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1; /* Allow the search bar to grow and take up remaining space */
  margin-right: 10px;
}

#fileList {
  margin-bottom: 20px;
}

#fileList ul {
  padding: 0;
}

#fileList li {
  margin-bottom: 10px;
  cursor: pointer;
}

#fileDetails {
  display: none; /* Initially hide file details */
  margin-top: 20px;
}

#fileDetails h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#fileDetails ul {
  padding: 0;
}

#fileDetails li {
  margin-bottom: 5px;
}

.download-form {
  background-color: rgba(255, 255, 255, 0.608);
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add padding */
  color: white;
}


/* Style the text input */
.download-form input[type="text"] {
  color: #fff; /* White text color */
}


/* Style the button */
.download-form button {
  color: #fff; /* White text color */
  background-color: #003366; /* Blue button background */
  border: none; /* Remove default button border */
  padding: 10px; /* Add padding for better appearance */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  width: 30%;
}

/* Hover effect */
.download-form button:hover {
  background-color: #005599; /* Darker blue on hover */
}

/* Style the file list */
.download-form #fileListItems li {
  color: #fff; /* White text color */
}

/* Style the file details */
.download-form #fileDetails {
  color: #fff; /* White text color */
}

.download-form #fileList {
  max-height: 250px; /* Set a maximum height for the file list container */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Style the file list items */
.download-form #fileListItems {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

/* Adjust the scrollbar styles if needed */
/* For webkit browsers (Chrome, Safari) */
.download-form #fileList::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.download-form #fileList::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
}

/* For Firefox */
.download-form #fileList {
  scrollbar-width: thin; /* Set the width of the scrollbar */
}

.download-form #fileList::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
}

#sharedWithMeDetails {
  max-height: 250px; /* Set a maximum height for the shared files section */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.download-container {
  margin-bottom: 20px; /* Add margin to create space between the title and the container */
}

.download-container h2 {
  margin-bottom: 10px; /* Add margin below the title */
}

.search-container {
  display: flex; /* Change display to flex */
  align-items: center; /* Align items vertically */
  margin-bottom: 20px; /* Add margin to create space between the search bar and button */
}

.search-container button {
  margin-left: 10px; /* Add margin to separate the search bar and button */
}

#sharedWithMeDetails {
  margin-top: 20px; /* Add margin to create space between the search container and shared files section */
}

#sharedWithMeDetails h2 {
  margin-bottom: 10px; /* Add margin below the title */
}

.shared-user-files .file-button {
  margin-bottom: 10px; /* Adjust the margin value as needed */
}

.shared-user-header:hover {
  text-decoration: underline;
  cursor: pointer;
}
#downloadTitle {
  position: absolute;
  top: 85px; /* Adjust this value to position the title as desired */
  left: 50%; /* Position it horizontally in the middle */
  transform: translateX(-50%); /* Center it precisely */
  z-index: 1; /* Ensure it appears above other content */
}

#sharedWithMeDetails {
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 transparent; /* For Firefox */
}

#sharedWithMeDetails::-webkit-scrollbar {
  width: 8px;
}

#sharedWithMeDetails::-webkit-scrollbar-thumb {
  background-color: #888;
}

#sharedWithMeDetails::-webkit-scrollbar-track {
  background-color: transparent;
}

#downloadButton {
  width: 100%; /* Set the width to 100% to take up the full width of its container */
  padding: 10px;
  font-size: 20px;
  background: #003366;
  background: -webkit-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -o-linear-gradient(left, #001f3f, #003366, #005b96);
  background: -moz-linear-gradient(left, #001f3f, #003366, #005b96);
  background: linear-gradient(left, #001f3f, #003366, #005b96);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#downloadButton:hover {
  background: #002245;
  background: -webkit-linear-gradient(left, #001326, #002243, #004777);
  background: -o-linear-gradient(left, #001326, #002243, #004777);
  background: -moz-linear-gradient(left, #001326, #002243, #004777);
  background: linear-gradient(left, #001326, #002243, #004777);
}