.file-upload {
    position: relative;
    overflow: hidden;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-upload-icon {
    font-size: 36px;
    color: #666;
}

.file-upload-text {
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
